<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form [formGroup]="formUpProj" *ngIf="formUpProj" (ngSubmit)='onSubmit()'>
    <div>
      <label for="idproj">
        Id projet : <input class="form-control" type="text" formControlName="idprojet">
      </label>
    </div>
    <div>
      <label for="client">
        Client : <input class="form-control" type="text" formControlName="client">
      </label>
    </div>
    <div>
      <label for="code">
      Code : <input class="form-control" type="text" formControlName="code">
    </label>
    </div>
    <div>
      <label for="datedebut">
         Date de début :<input class="form-control" type="date" formControlName="datedebut">
      </label>
    </div>
    <div>
      <label for="datefinestimee">
         Date de fin estimée :<input class="form-control" type="date" formControlName="datefinestimee">
      </label>
    </div>
    <div>
      <label for="datefinreel">
         Date de fin réel :<input class="form-control" type="date" formControlName="datefinreel">
      </label>
    </div>
    <div>
      <label for="description">
         Description :<input class="form-control" type="text" formControlName="description">
      </label>
    </div>
    <div>
      <label for="titre">
         Titre :<input class="form-control" type="text" formControlName="titre">
      </label>
    </div>
    <div>
      <label for="type">
         Type :<input class="form-control" type="text" formControlName="type">
      </label>
    </div>
    <button type="submit" class="btn btn-success">Ajouter</button>
  </form>
</body>
</html>
