<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="jumbotron col-md-5 offset-md-3" style="background-color: burlywood;">
  <form [formGroup]="myForm" (ngSubmit)='onSubmit()'>
    <div>
      <h1>Création du rôle</h1>
    </div>
    <div>
      <label for="idrole"></label>
      <input class="form-control" type="hidden" placeholder="ex: 787" formControlName="idrole">
    </div>
    <div>
      <label for="libelle">Libellé :</label>
      <input class="form-control" type="text" placeholder="ex: Alexis" formControlName="libelle">
    </div>
    <button type="submit" class="btn btn-success">Ajouter</button>
  </form>
</div>
</body>
</html>
