<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form [formGroup] = "formUpdate">
    <div>
      <label for="prenom">
        Prénom : <input type="text" formControlName="prenom">
      </label>
    </div>
    <div>
      <label for="nom">
        Nom : <input type="text" formControlName="nom">
      </label>
    </div>
    <div>
      Mail : <input type="text" formControlName="mail">
    </div>
    <div>
      <label for="id">
         Id :<input type="number" formControlName="idemploye">
      </label>
    </div>
    <button type="submit">Modif</button>
  </form>
</body>
</html>

