<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="jumbotron col-md-5 offset-md-3" style="background-color: burlywood;">
  <form [formGroup]="myForm" (ngSubmit)='onSubmit()'>
    <div><h1>Création du projet</h1></div>
    <div>
      <label for="idproj"></label>
      <input class="form-control" type="hidden" placeholder="ex: 787" formControlName="idprojet">
    </div>
    <div>
      <label for="client">Client :</label>
      <input class="form-control" type="text" placeholder="ex: Alexis" formControlName="client">
    </div>
    <div>
      <label for="code">Code :</label>
      <input class="form-control" type="text" placeholder="ex: 1087" formControlName="code">
    </div>
    <div>
      <label for="datedebut">Date de début :</label>
      <input class="form-control" type="date" formControlName="datedebut">
    </div>
    <div>
      <label for="datefinestimee">Date de fin estimée :</label>
      <input class="form-control" type="date" formControlName="datefinestimee">
    </div>
    <div>
      <label for="datefinreel">Date de fin réel :</label>
      <input class="form-control" type="date" formControlName="datefinreel">
    </div>
    <div>
      <label for="description">Description :</label>
      <input class="form-control" type="text" formControlName="description">
    </div>
    <div>
      <label for="titre">Titre :</label>
      <input class="form-control" type="text" formControlName="titre">
    </div>
    <div>
      <label for="type"> Type :</label>
      <input class="form-control" type="text" formControlName="type">
    </div>
    <button type="submit" class="btn btn-success">Ajouter</button>
  </form>
</div>
</body>
</html>
