<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form [formGroup]="formUpDep" *ngIf="formUpDep" (ngSubmit)="onSubmit()">
    <div>
      <label for="iddepartements">
        Id dép : <input class="form-control" type="text" formControlName="iddepartements">
      </label>
    </div>
    <div>
      <label for="libelle">
        Libéllé : <input class="form-control" type="text" formControlName="libelle">
      </label>
    </div>
    <button type="submit" class="btn btn-success">Ajouter</button>
  </form>
</body>
</html>
