<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="jumbotron col-md-5 offset-md-3" style="background-color: burlywood;">
  <form [formGroup]="myFormDep" (ngSubmit)="onSubmit()">
    <div>
      <h1>Création du département</h1>
    </div>
    <div class="form-group">
      <label for="iddep"></label>
      <input class="form-control" type="hidden" placeholder="ex: 787" formControlName="iddepartements">
    </div>
    <div class="form-group">
      <label for="prenom">Libellé : </label>
      <input class="form-control" type="text" placeholder="ex: Informatique" formControlName="libelle">
    </div>
    <button type="submit" class="btn btn-success">Ajouter</button>
  </form>
  </div>
</body>
</html>
