<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="prenom">
        Prénom : <input class="form-control" type="text" placeholder="ex: Alexis" formControlName="prenom">
      </label>
    </div>
    <div>
      <label for="nom">
        Nom : <input class="form-control" type="text" placeholder="ex: Alexis" formControlName="nom">
      </label>
    </div>
    <div>
      <label for="mail">
      Mail : <input class="form-control" type="text" placeholder="ex: Alexis@gmail.com" formControlName="mail">
    </label>
    </div>
    <div>
      <label for="id">
         Id :<input class="form-control" type="text" placeholder="ex: 88" formControlName="idemploye">
      </label>
    </div>
    <div class="form-group" formGroupName="afpaDepartements">
      <h3>Département</h3>
      <div>
        <label for="iddepartements">
          id Département : <input class="form-control" type="text" placeholder="ex: 178" formControlName="iddepartements">
        </label>
      </div>

      <br>
    </div>
    <button type="submit" class="btn btn-success">Ajouter</button>
  </form>
</body>
</html>

